@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size: 50px;
    font-weight:900;
}
p{
    text-align: justify;
    color:#1d1b1b;
}
.link-button{
    display: inline-block;
    
    padding:10px 25px;
    background-color:blue ;
    background: linear-gradient(to left, blue, #2DB1FF ,blue);
    color: white;
    border-radius:5px;
    text-decoration:none;
    text-align: center;
    box-shadow:0px 0px 3px black;
    
    margin-top:20px;
}


.half-width{
    width:50%;
    margin:50px;
}
.text-block-l{
    margin-left:10%;
}
.text-block-r{
    margin-right:10%;
}

.half-width img{
    width:95%
}
.d-flex{
    display:flex;
    align-items: center;
}
.flex-wrap{
    flex-wrap:wrap;
}

.section-header{
    margin-left:10%;
    display:inline-block;
    border-bottom:5px dashed rgb(32, 32, 34);
}

#top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
    margin-bottom:60px;
}

#about-me{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 500px;
    margin:0;
      
}

#exp{
    margin-bottom: 100px;
    background: url("images/exp-bg.png") no-repeat;
    background-position: left ;
    background-size: 550px;
    background-blend-mode:lighten;
    
}

.exp-item{
    margin:5%;
    margin-bottom:0;
    padding:50px 100px 30px 50px;
    box-shadow:0 0 40px gray;
}

.border-dark{
    border-left:8px solid #2f2fcc;
}
.border-light{
    border-left:8px solid #2db1ff;
}
.border-top-dark{
    border-top:12px solid #2f2fcc;
}
.border-top-light{
    border-top:12px solid #2db1ff;
}


#skill{

  margin: 0 10%;  

}
#skill .section-header{
    margin-left:0;
}
.card-box{
    width:250px;
    box-shadow: 0 5px 30px #ddd;
    padding:15px;
    margin:10px;
    text-align:scenter;
    border-radius:5px;
    margin-bottom:30px;

}
.card-box img{
    max-width:100px;
}

