@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*font-family: 'Poppins', sans-serif;*/

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size: 50px;
    font-weight:900;
}
p{
    text-align: justify;
    color:#1d1b1b;
}
.link-button{
    display: inline-block;
    
    padding:10px 25px;
    background-color:blue ;
    background: linear-gradient(to left, blue, #2DB1FF ,blue);
    color: white;
    border-radius:5px;
    text-decoration:none;
    text-align: center;
    box-shadow:0px 0px 3px black;
    
    margin-top:20px;
}


.half-width{
    width:50%;
    margin:50px;
}
.text-block-l{
    margin-left:10%;
}
.text-block-r{
    margin-right:10%;
}

.half-width img{
    width:95%
}
.d-flex{
    display:flex;
    align-items: center;
}

.section-header{
    margin-left:10%;
    display:inline-block;
    border-bottom:5px dashed rgb(32, 32, 34);
}

#top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin:0;
    margin-bottom:60px;
}

#about-me{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 500px;
    margin:0;
    
}

